extends ../layout

block content
    h1 #{title}
    p #{message}
    p
        a.button.reset-button(href=link) #{buttonText}
        if buttonAfter
            span #{buttonAfter}
    p
    p #{secondMessage}
